@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Arial', sans-serif;
  }

.sidebar {
    width: 270px;
    height: 100vh;
    background-color: white;
    border-right: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
}
  
.logoimg img {
    margin-top: 20%;
    max-width: 100%; 
    height: auto;
    display: block;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: left;
    width: 100%;
    /* padding-bottom: 20px; */
    border-left: 4px solid #61BDE0; /* Linha azul à esquerda */
}
  
.sidebar-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
}
  
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    color: #00aaff;
    font-size: 18px;
    margin: 3% 0 3% 0;
}
  
.menu-item i {
    margin-right: 10px;
}

.menu-item.active {
    background-color: #61BDE0;
    color: white !important;
}
  
.menu-item.active i {
    color: white;
}
  
.menu-item:hover {
    background-color: #f0f0f0;
}
  
.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: red;
    cursor: pointer;
    margin-top: auto;
}
  
.logout i {
    margin-left: 10px;
}

.logouttext {
  margin-right: 10%;
}

.navbartext {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #61BDE0;
  margin-left: 5%;
}

.itens_menu {
    margin-top: 40%;
}
  
.textlogo {
    margin-left: 5%;
}
