td.td-lote, th.th-lote{
    padding: 0.5rem 1.3rem;
}

tbody.table-lp, tr.table-lp{
    background-color: transparent !important;
}

.produtos-local-filtros {
    display: flex;
    column-gap: 1em;
}

.produto-local-header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .produtos-local-filtros {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    
    td.td-lote, th.th-lote{
        padding: 0.5rem 0.8rem;
    }
    
}
