td.td-lote, th.th-lote{
    padding: 0.5rem 1.3rem;
}

tbody.table-lp, tr.table-lp{
    background-color: transparent !important;
}

.expired{
    color: #fdbe4a;
    font-weight: 600;
}

@media (max-width: 768px) {
    
    td.td-lote, th.th-lote{
        padding: 0.5rem 0.8rem;
    }
    
}
