main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

div.page-title{
    display: flex;
    flex-direction: column;
}

hr.line{
    width: 100%;
    border: 0.2px solid rgb(170, 170, 170);
}

table{
    font-family: "Montserrat", sans-serif;
}

tbody{
    margin-top: 2rem;
}

.table>:not(caption)>*>*{
    background-color: transparent !important;
}

th{
    color: #ACACAC !important;
    font-weight: 500 !important;
    border: none !important;
}

tr.vazia { 
    border: none; 
    height: 1rem !important; 
    background-color: transparent; 
}

tr.table-row{
    background-color: white;
    border-radius: 8px !important;
    box-shadow: 0 2px 5px rgba(63, 63, 63, 0.15);
}


tr td:first-child { border-bottom-left-radius: 10px; border-top-left-radius: 10px }
tr td:last-child { border-bottom-right-radius: 10px; border-top-right-radius: 10px }

td{
    vertical-align: middle;
}

td img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    border-radius: 50%;
}

div.td-center, div.th-center{
    display: flex;
    justify-content: center;
}
