main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.page-title{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

hr.line{
    margin: 0;
    width: 100%;
    border: 0.2px solid rgb(170, 170, 170);
}

.actions-group{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    column-gap: 1em;
}
.btnFiltrar {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5em;
    cursor: pointer;
}

.btnLimpar{
    background-color: #61BDE0;
    padding: 2px 0;
    width: 6em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.btnLimpar:hover {
    background-color: #61bce083;
}
.container-filtros {
    display: flex;
    align-items: start;
    column-gap: 1em;
}
.container-filtros label {
    width: 4em;
}
.filtros-btn {
    display: flex;
    column-gap: .5em;
    justify-content: end;
}
.filtros-btn button {
    margin-right: 2em;
}
.quantidade-container, .venda-container, .custo-container, .validade-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.venda-container label, .custo-container label, .validade-container label{
    width: 8em;
    margin-bottom: .3em;
}
.venda-container input, .custo-container input, .validade-container input {
    width: 6em;
    text-align: center;
}

table{
    font-family: "Montserrat", sans-serif;
}

tbody{
    margin-top: 2rem;
}

.table>:not(caption)>*>*{
    background-color: transparent !important;
}

th{
    color: #ACACAC !important;
    font-weight: 500 !important;
    border: none !important;
}

tr.vazia { 
    border: none; 
    height: 1rem !important; 
    background-color: transparent; 
}

tr.table-row{
    background-color: white;
    border-radius: 8px !important;
    box-shadow: 0 2px 5px rgba(63, 63, 63, 0.15);
}


tr.table-rounded td:first-child { border-bottom-left-radius: 10px !important; border-top-left-radius: 10px !important }
tr.table-rounded td:last-child { border-bottom-right-radius: 10px !important; border-top-right-radius: 10px !important}

td{
    vertical-align: middle;
}

td img{
    width: 5.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 10px;
}

div.td-center{
    display: flex;
    justify-content: center;
}

div.td-numeric{
    text-align: end;
    width: min-content;
}

.modal-prod{
    height: 35rem;
}