.input-item-prod select {
    width: 194.4px;
    height: 39.2px;
    border: #E5E5E5 1px solid;
    border-radius: 3px;
}

.validade-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.checkbox-group label {
    font-size: 16px;
}

.checkbox-item {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.checkbox-item input{
    cursor: pointer;
}
