.scroller {
    height: 640px;
    overflow-y: scroll;
}

.radio-val {
    padding: 1rem 0 0 0;
}
.radio-val > label > input {
    margin: 0 0 0 1rem;
}

.unidadeMedida{
    width: 62.5%;
}

.nextSect{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-radio{
    display: flex;
    gap: 1rem;
}

div.radio-option{
    display: flex;
    gap: 0.4rem;
}


.spacerChild > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}





.dual > *:not(:first-child):not(:last-child) {
    margin: 0 1rem;
}
.dual > *:first-child {
    margin: 0 1rem 0 0;
}
.dual > *:last-child {
    margin: 0 0 0 1rem;
}


/* Tamanhos de Flex */
.flex1 {
    flex: 1;
}
.flex2{
    flex: 2;
}

/* Tipos de Flex */
.rflex {
    display: flex;
    flex-flow: row;
}
.cflex {
    display: flex;
    flex-flow: column;
}
.nwflex {
    flex-wrap: nowrap;
}

.rfloat{
    float: right;
}
