form.form-prod{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: scroll;
    padding: 0 0.3rem;
    width: 100%;
    height: 20rem;
}

section.form-prod{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

div.input-group-prod{
    display: flex;
    gap: 4rem;
}

.input-item-prod{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.input-item-prod.large {
    width: 100%;
}

div.subtitle-form-prod{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

div.subtitle-form-prod span{
    font-weight: 700;
}

@media (max-width: 768px) {
    
    div.subtitle-form-prod span, form.form-prod{
        font-size: 12px;
    }
    
}