.sidebar {
    width: 16.5rem;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /*overflow-y: auto;*/
    padding: 20px;
    box-shadow: 5px 0 15px rgba(150, 150, 150, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}
  
.sidebar img {
    width: 10rem; 
    height: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: left;
    width: 100%;
    /* padding-bottom: 20px; */
    border-left: 4px solid #61BDE0; /* Linha azul à esquerda */
}
  
.sidebar-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    color: #00aaff;
    font-size: 18px;
    margin: 3% 0 3% 0;
}
  
.menu-item i {
    margin-right: 10px;
}

.menu-item.active {
    background-color: #61BDE0;
    color: white !important;
}
  
.menu-item.active i {
    color: white;
}
  
.menu-item:hover {
    background-color: #e9e9e9 !important;
}
  
.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 10px;
    color: red;
    cursor: pointer;
    margin-top: auto;
    gap: 1rem;
}
  
.navbartext {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-left: 5%;
}

.textlogo {
    margin-left: 5%;
}

.nav-toggle {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 10%;
	height: 4rem;
	background-color: #ffffff;
	cursor: pointer;
}

.nav-close{
    display: none;
}

@media screen and (min-width: 2500px){
    .sidebar {
        gap: 5rem;
    }
}

@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .sidebar {
        position: fixed;
        left: -12.5rem; 
        top: 0;
        transition: left 0.3s ease; 
        width: 12.5rem;
        padding: 1rem 0.5rem;
    }

    .navbartext, .logout {
        font-size: 12px;
    }

    .logo{
        font-size: 18px;
    }

    .sidebar img {
        width: 7rem; 
        height: auto;
    }

    .sidebar.is-active {
        left: 0; 
        z-index: 3;
    }

    .nav-toggle.is-active{
        z-index: 4;
        left: calc(12.5rem - 2rem);
        transition: left 0.3s ease; 
        background-color: transparent;
        width: min-content;
    }

    .nav-toggle.is-active .nav-close{
        display: block;
    }

    .nav-toggle.is-active .nav-hamburguer{
        display: none;
    }
}