.sidebar {
    width: 16.5rem;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*overflow-y: auto;*/
    padding: 20px;
    gap: 2rem;
    box-shadow: 5px 0 15px rgba(150, 150, 150, 0.1);
    position: fixed;
    left: 0;
    top: 0;
}
  
.sidebar img {
    width: 10rem; 
    height: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: left;
    width: 100%;
    /* padding-bottom: 20px; */
    border-left: 4px solid #61BDE0; /* Linha azul à esquerda */
}
  
.sidebar-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
}
  
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    color: #00aaff;
    font-size: 18px;
    margin: 3% 0 3% 0;
}
  
.menu-item i {
    margin-right: 10px;
}

.menu-item.active {
    background-color: #61BDE0;
    color: white !important;
}
  
.menu-item.active i {
    color: white;
}
  
.menu-item:hover {
    background-color: #f0f0f0;
}
  
.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 10px;
    color: red;
    cursor: pointer;
    margin-top: auto;
    gap: 1rem;
}
  


.navbartext {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #61BDE0;
  margin-left: 5%;
}

  
.textlogo {
    margin-left: 5%;
}

.link{
    text-decoration: none;
}