body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #030303;
}

.registros-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.registro-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    border-left: 8px solid;
    
}

div.registro-item:nth-child(even){
    background-color: #79d3f727;
}

div.registro-item:nth-child(odd){
    background-color: #ffffff;
}

.registro-item {
    border-color: #21a4e6; /* Verde para Entradas */
}


.icon {
    font-size: 24px;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-body, .info-title{
    display: flex;
    justify-content: space-between;
}

.info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.info span{
    margin: 5px 0;
    color: #555;
}
