body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
}


.registros-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registro-header {
    display: flex;
    justify-content: space-between;
}

.responsavel {
    text-transform: capitalize;
}

.registro-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    border-left: 8px solid;
    
}

div.registro-item:nth-child(even){
    background-color: #79d3f727;
}

div.registro-item:nth-child(odd){
    background-color: #ffffff;
}

.registro-item {
    border-color: #21a4e6; /* Verde para Entradas */
}


.registro-item .icon {
    font-size: 1.8rem;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-body, .info-title{
    display: flex;
    justify-content: space-between;
}

.info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.info span{
    margin: 5px 0;
    color: #555;
}

.registro-container-filtros, .registro-primeira-coluna, .registro-segunda-coluna {
    display: flex;
    column-gap: 1em;
    align-items: start;
    padding-top: 0;
}
.registro-container-filtros input {
    width: 6em;
    text-align: center;
}
.tipo-container, .responsavel-container, .data-container, .valor-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.responsavel-container label, .data-container label, .valor-container label {
    width: 8em;
    margin-bottom: .3em;
}
.responsavel-container select {
    width: 12em;
}
.radio-container label {
    width: 2.5em;
}

@media (max-width: 375px) {
    .registro-container-filtros, .registro-primeira-coluna, .registro-segunda-coluna {
        flex-direction: column;
    }
    
}

@media (max-width: 768px) {
    .registro-item {
        font-size: 14px;
    }    

    .info-title h2{
        font-size: 14px;
    }

    .registro-item{
        padding: 1rem;
    }

    .registro-item .icon {
        font-size: 1.5rem;
        margin-right: 10px;
    }

    .info-body{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 980px) {
    .container-filtros {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .registro-container-filtros {
        flex-direction: column;
    }
    .data-container {
        padding-left: 0 !important;
    }
}

@media (max-width: 1260px) {
    .tipo-container {
        width: 8em;
    }
    .radio-container label {
        width: 4.5em;
    }
    .radio-container input {
        width: 1em;
    }
    .data-container {
        padding-left: 4em;
    }
}