body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
}


.registros-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registro-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    border-left: 8px solid;
    
}

div.registro-item:nth-child(even){
    background-color: #79d3f727;
}

div.registro-item:nth-child(odd){
    background-color: #ffffff;
}

.registro-item {
    border-color: #21a4e6; /* Verde para Entradas */
}


.registro-item .icon {
    font-size: 1.8rem;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-body, .info-title{
    display: flex;
    justify-content: space-between;
}

.info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.info span{
    margin: 5px 0;
    color: #555;
}


@media (max-width: 768px) {
    .registro-item {
        font-size: 12px;
    }    

    .info-title h2{
        font-size: 14px;
    }

    .registro-item{
        padding: 1rem;
    }

    .registro-item .icon {
        font-size: 1.5rem;
        margin-right: 10px;
    }
}