table {
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse; /* Remover espaços e bordas entre as células */
}

tbody {
    margin-top: 2rem;
}

tr.table-row {
    background-color: white;
    box-shadow: none !important; /* Remover sombra */
}

tr.heading {
    background-color: transparent;
}

th { 
    color: #ACACAC !important;
    font-weight: 500 !important;
    border: none !important;
}

tr.vazia { 
    border: none; 
    height: 1rem !important; 
    background-color: transparent; 
}

td {
    vertical-align: middle;
    border: none !important;
    padding: 10px;
}

td img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    border-radius: 50%;
}

.align-right {
    display: flex;
    justify-content: flex-end; /* Alinha à direita */
    padding-right: 15px; /* Ajuste se precisar de mais espaçamento */
    margin-right: 2rem;
  }

/* Remover bordas arredondadas das células */
tr td:first-child, tr td:last-child {
    border-radius: 0 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00aaff;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

div.td-actions {
    display: flex;
    gap: 0.5rem;
}

.edit-icon,
.delete-icon {
  font-size: 18px;
  cursor: pointer;
}

.status-column {
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}

div.td-center, div.th-center {
    display: flex;
    justify-content: left;
}

/* Alternar a cor das linhas da tabela */
tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor para as linhas pares */
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Cor para as linhas ímpares */
}
