/* Fundo da tela ficando escuro */
.backgroundStyle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  /* Estilo do modal */
  .modalStyle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  
  /* Estilo do título */
  .title {
    margin: 0;
    padding-bottom: 20px;
    font-size: 24px;
    text-align: left;
  }
  
  /* Conteúdo do modal */
  .content {
    flex: 1;
    padding-bottom: 20px;
  }
  
  /* Container dos botões */
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

.title-id{
  color: #C80000;
  }
  