/* header */
.BarraSuperior {
    position: fixed;
    width: calc(100% - 16.5rem);
    height: 3rem;
    left: 16.5rem;
    top: 0;
    background-color: rgb(255, 255, 255);
    display: flex; /* Adicione isso */
    align-items: center;
    box-sizing: border-box;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.itensleft {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: #C4C4C4;
}

.itensleft span{
    font-size: 16px;
    vertical-align: middle;
}


.itensright {
    display: flex;
    align-items: center;
    gap: 15px;
}

.itensright i {
    color: #C4C4C4;
    font-size: 20px;
    cursor: pointer;
}

.link-icon:hover{
    color: #61BDE0 !important;
}

.offcanvas {
    margin: 1rem;
    border-radius: 8px;
}

.offcanvas-body .nav{
    justify-content: space-around;
}

.nav-tabs .nav-link{
    color: #C4C4C4;
}

.nav-tabs .nav-link.active{
    border: none;
    border-bottom: 2px solid #61BDE0 !important;
    font-weight: 600;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border: none;
    color: #61BDE0 ;
}

.offcanvas-body .not-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 14px;
    padding-bottom: 0.5rem;
    border-bottom: 1.5px solid #c4c4c46b;
}

.not-item img{
    width: 3.5rem;
}

.not-item b{
    font-weight: 500
}

.not-item .content{
    display: flex;
    flex-direction: column;
}

.content .subtitle{
    font-weight: 500;
    color: #C4C4C4;
}

.content .date{
    color: #C4C4C4;
    align-self: flex-end;
}

.not-item .icon-clock{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .BarraSuperior{
        left: 10%;
        height: 2rem;
        width: 90%;
        padding: 2rem 1rem;
    }

    .itensleft{
        gap: 0.5rem;
    }

    .itensleft span{
        font-size: 14px;
    }

    .link-icon{
        font-size: 1.2rem;
    }

    .itensright i{
        font-size: 1rem;
    }
}
