/* header */
.BarraSuperior {
    position: fixed;
    width: calc(100% - 16.5rem);
    height: 3rem;
    left: 16.5rem;
    top: 0;
    background-color: rgb(255, 255, 255);
    display: flex; /* Adicione isso */
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.itensleft {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: grey;
    cursor: pointer;
}

.itensleft span{
    font-size: 16px;
    vertical-align: middle;
}

.itensleft i{
    font-size:  26px;
}

.itensright {
    display: flex;
    align-items: center;
    gap: 15px;
}

.itensright i {
    color: grey;
    font-size: 20px;
    cursor: pointer;
}