div.td-actions{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  font-size: 1.3rem !important;
}


@media (max-width: 768px) {
  .edit-icon{
    font-size: 0.9rem !important;
  }
}