/* modal.css */
.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px; /* Ajuste conforme necessário */
    margin: auto; /* Centraliza o modal */
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards-group{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.card-item{
    display: flex;
    width: 100%;
    padding: 1.2rem;
    justify-content: space-between;
}

.actions{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
